NODE_ENV=DEVELOPMENT
LOG_LEVEL=debug
# BOT
BOT_TOKEN=
BOT_API_ROOT=
BOT_WEBHOOK_URL=
BOT_WEBHOOK_PATH=
BOT_HOST=
BOT_PORT=3000
#DB
MONGO=
# API
SERVER_PORT=4000
API_URL=
# API SPORTSRU
API_SPORTSRU_ONLINE=
API_SPORTSRU_GOALS=
API_SPORTSRU_TEASER=
API_SPORTSRU_TOURNAMENTS=
API_SPORTSRU_TOURNAMENT_TABLE=
API_SPORTSRU_TOURNAMENT_LAST_MATCHES=
API_SPORTSRU_TOURNAMENT_FUTURE_MATCHES=
API_SPORTSRU_TOURNAMENT_PLAYER_STAT=
# API KEY YOUTUBE
API_KEY_YOTUBE=
ID_CHANELS=